/* ===================== 
Start: Connect fonts      
======================== */
@font-face {
  font-family: BebasNeue_Regular;
  src: local("BebasNeue_Regular"), url(../fonts/BebasNeue_Regular.otf);
}
.regularBeb{
	font-family: BebasNeue_Regular;
}
@font-face {
  font-family: BebasNeue_Bold;
  src: local("BebasNeue_Bold"), url(../fonts/BebasNeue_Bold.otf);
}
.boldBeb{
	font-family: BebasNeue_Bold;
}
.regularRoboto{
	font-family: 'Roboto', sans-serif;
}
.regularRoboto-bold{
	font-weight: 700;
}
// @include connect-font(ProximaLight,light);
// @include connect-font(ProximaBlack,black_font);
/* =====================
End:  Connect fonts
======================== */
