.btn {
  border: none;
  max-width: 100%;
  padding: 10px 20px;
  overflow: hidden;
  z-index: 1;
  font-size: 16px;
  @include borderR(3px);
  @extend .relative;
  @extend .block-inline;
  @extend .tdn;
  @extend .regularRoboto;
  @extend .transition;
  
  &-effect{
    &:before{
      @extend .pseudo;
      @extend .transition;
    }
    &-1{
      @extend .btn-effect;
      &:before{
        z-index: -1;
        width: 100%;
        height: 0;
        top: 50%;
        left: 50%; 
        opacity: 0;
        @include transform(translateX(-50%) translateY(-50%) rotate(45deg));
      }
      &:hover{
        &:before{
          height: calc(450% - 40px);
          opacity: 1;
        }
      }   
    } 
  }
  &-orange{
    background-color: #ffa547;
  }
  &-special{
    color: #fff;
    min-height: 51px;
    padding: 0 10px 0 25px;
    &:after{
      @extend .pseudo;
      left: 5px;
      top: 50%;
    }
    
    &-red{
      background-color: #f92729;
      &:after{
        width: 15px;
        height: 16px;
        margin-top: -8px;
        @include bg("../img/iconZ.png");
      }
      
    }
    &-blue{
      background-color: #005aab;
      &:after{
        width: 15px;
        height: 16px;
        margin-top: -8px;
        @include bg("../img/iconRepair.png");
      }
      
    }
    &-green{
      background-color: #7abd06;
      &:after{
        width: 15px;
        height: 14px;
        margin-top: -7px;
        @include bg("../img/iconDelivery.png");
      }
    }
    @include resp-min(sm){
      &-red{
        @include bg("../img/btn-red.png");
      }
      &-blue{
        @include bg("../img/btn-blue.png");
      }
      &-green{
        @include bg("../img/btn-green.png");
      }
    }
    @include resp-min(midlg){
      &-red{
        &:after{
          width: 30px;
          height: 30px;
          margin-top: -15px;
        }
      }
      &-blue{
        &:after{
          width: 29px;
          height: 29px;
          margin-top: -14.5px;
        }
      }
      &-green{
        &:after{
          width: 31px;
          height: 28px;
          margin-top: -14px;
        }
      }
    }
  }
  &-calc{
    width: 253px;
    height: 58px;
    border: 3px solid #ff6701;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    background: linear-gradient(to top, #ff740b, #ffab58);
  }
  &-single{
    @include resp-min(sm){
      margin-top: 70px;
    }
    @include resp-max(sm){
      margin-top: 35px;
    }
  }
  @include resp-min(midlg){
    &-special{
      font-size: 17px;
      padding: 0 10px 0 45px;
    }
  }
}