.toggle{
  &-subtitle-no-margin{
    .subtitle{
      margin-bottom: 0;
    }
  }
  &-inner{
    @extend .cf;
    @include resp-min(sm){
      &-big-margin{
       margin-bottom: 150px;
        &:last-child{
          margin-bottom: 75px;
        }
      }
      &-small-margin{
        margin-bottom: 50px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    &-img{
      @extend .text-center;
    }
  }
  @include resp-min(sm){
    //ODD - нечетное
    .toggle-inner-right:nth-child(odd) .toggle-inner-img,
    .toggle-inner-right:nth-child(even) .toggle-inner-text,
    .toggle-inner-left:nth-child(odd) .toggle-inner-text,
    .toggle-inner-left:nth-child(even).toggle-inner-img {      
        float: right;
    }
    .toggle-inner-right:nth-child(even){
      .toggle-inner-text{
        .subtitle,p{
          text-align: right;
        }
      }
    }   
  }
}
.vertical-image{
  &:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;   
  }
  img{
    max-height: 100%;
    vertical-align: middle;   
  }
}
.main-form{
  width: 100%;
  @include resp-min(sm){
    width: 300px;
  }
  @extend .center-block;
  input{
    border: 1px solid #eeeeee;
    @include borderR(5px);
    @extend .block-inline;
    text-align: left;
    width: 100%;
    max-width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    color: #000;
    font-size: 15px;
    outline: none;
    box-shadow: 0px 0px 10px 1px rgba(253, 188, 48, 0.17);
    @extend .regular;
    @extend .transition;
    &:focus{
      border-color: setColor(corp);
    }
  }
  .btn{
    width: 100%;
  }
}
.fixed{
  position: fixed;
  width: 100%;
  left: 0;
  &.bottom{
    bottom: 0;
  }
}
.development{
  padding: 15px;
  background-color: #000;
  color: #fff;
}
.test{
  @include pseudoBlock();
}